<section class="main">
    <div class="container">
        <div class="col-xs-12 col-sm-8 flex-center flex-wrap text-center">
            <h1 class="w-100">Bag</h1>
            <div class="w-100 d-flex flex-wrap mt-5 mb-5">

                <div *ngFor="let product of bag" class="bag-item w-100 d-flex mt-2">

                    <a (click)="goToProduct(product._id)" class="bag-item__name">
                        <img class="bag-item__image" src="{{ this.url + '/get-product-image/' + product.images[0] }}">
                    </a>

                    <div class="bag-item__info">

                        <div class="bag-item__head">
                            <a (click)="goToProduct(product._id)" class="bag-item__name">{{ product.name }}</a>
                            <i (click)="removeFromBag(product._id)" id="btn-menu-close" class="text-black fas fa-times"></i>
                        </div>

                        <div *ngIf="product.sale == null">
                            <p class="bag-item__cost">${{ product.cost }}</p>
                        </div>
    
                        <div *ngIf="product.sale != null" class="flex-align-center">
                            <p class="bag-item__cost bag-item__cost--off">${{ product.cost }}</p>
                            <p class="bag-item__cost bag-item__cost--previous">${{ product.sale }}</p>
                        </div>

                    </div>
                </div>

            </div>

            <div *ngIf="this.status == 'Error' && this.error != null" class="message message--fail mt-2">
                <p class="mt-1 mb-1">Something wrong happened</p>    
                <span>{{ this.error }}</span>
            </div>

        </div>
        <div class="checkout col-xs-12 col-sm-4 flex-center flex-wrap text-center">
            <h2 class="w-100">Did you find what you were looking for?</h2>
            <h3 class="w-100 mt-4">We hope so!</h3>
            <h4 class="w-100 mt-1">The total of your listed products is below.</h4>

            <h3 class="w-100 mt-4 mb-2">Total products: {{ this.bag.length }}</h3>
            <h3 class="w-100 mb-4">Total: <span class="bag-item__cost--off">{{ this.totalCost }}</span> </h3>

            <a class="btn btn__item btn--black mb-1">Pay</a>
            <a href="/shop" class="btn btn__item btn--white">Continue shopping</a>
        </div>
    </div>
</section>