<section id="main" class="main trigger">
    <div class="container">
        <section class="about col-xs-12">
            <div class="about__hero col-lg-12">
                <img src="assets/img/about/hero.jpg" alt="" class="image--complete lazyload">
                <div class="about__hero-text">
                    <div class="col-lg-4">
                        <h1 class="about__hero-title">STYLE LED US HERE</h1>
                    </div>
                    <div class="about__hero-logo">
                        <img src="assets/img/about/white-logo.png">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="about__satisfaction">
                    <h2 class="about__satisfaction-title">Satisfaction is what our products are meant for</h2>
                    <p class="about__satisfaction-text">
                        Satisfaction is what our products are meant for Satisfaction is what our
                        products are meant for Satisfaction is what our products are meant
                        for Satisfaction is what our products are meant for Satisfaction.
                    </p>
                </div>
            </div>
            <div class="col-xs-12">
                <h2 class="about__anytime-title">Either nightly or sunny You will always look good</h2>
            </div>
            <div class="about__anytime-outfit about__row col-xs-12">
                <div class="col-xs-12 col-sm-4">
                    <img src="assets/img/about/girl.jpg" alt="" class="image--complete lazyload">
                </div>
                <div class="col-xs-12 col-sm-8">
                    <img src="assets/img/about/man.jpg" alt="" class="image--complete lazyload">
                </div>
            </div>
            <div class="about__feature about__row col-xs-12">
                <div class="col-xs-12 col-sm-6">
                    <img src="assets/img/about/boutique.jpg" alt="" class="image--complete lazyload">
                </div>
                <div class="col-xs-12 col-sm-6 d-flex">
                    <div class="about__feature-info">
                        <h3 class="about__feature-title">Our Boutiques</h3>
                        <p class="about__feature-text">
                            Tumblr trust fund heirloom, church-key
                            vape locavore post-ironic kogi viral 
                            listicle man bun kickstarter cornhole.
                            Cold-pressed flannel letterpress pitchfork
                        </p>
                    </div>
                </div>
            </div>
            <div class="about__feature about__row col-xs-12">
                <div class="col-xs-12 col-sm-6 d-flex">
                    <div class="about__feature-info">
                        <h3 class="about__feature-title">Locations</h3>
                        <p class="about__feature-text">
                            Tumblr trust fund heirloom, church-key
                            vape locavore post-ironic kogi viral 
                            listicle man bun kickstarter cornhole.
                            Cold-pressed flannel letterpress pitchfork
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <img src="assets/img/about/boutique.jpg" alt="" class="image--complete lazyload">
                </div>
            </div>
        </section>
    </div>
</section>