<section class="main trigger">
    <div class="container">
        <section class="sales">
            <div class="row">
                <div class="sales__item sales__item--hero col-lg-12">
                    <img class="image--complete" src="assets/img/sales/hero.jpg" alt="">
                    <a class="btn btn--transparent btn--white sales__btn sales__btn--hero" href="/shop/Men/Sweaters/1">View</a>
                </div>
            </div>
            <div class="row">
                <div class="sales__item col-sm-6 col-lg-6">
                    <div class="sales__info">
                        <img class="image--complete" src="assets/img/sales/left-top.jpg" alt="">
                        <a class="btn btn--transparent btn--black sales__btn sales__btn--left-top" href="/shop/Women/T-Shirts/1">View</a>
                    </div>
                    <div class="sales__info">
                        <img class="image--complete" src="assets/img/sales/left-bottom.jpg" alt="">
                        <a class="btn btn--transparent btn--black sales__btn sales__btn--left-bottom" href="/shop/Women/Shoes/1">View</a>
                    </div>
                </div>
                <div class="sales__item col-sm-6 col-lg-6">
                    <div class="sales__info">
                        <img class="image--complete" src="assets/img/sales/right.jpg" alt="">
                        <a class="btn btn--transparent btn--black sales__btn sales__btn--right" href="/shop/Men/T-Shirts/1">View</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>